<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<body>

<head th:fragment="head(pageTitle)">
  <meta charset="UTF-8">
  <title th:text="${pageTitle}"></title>
  <link rel="stylesheet" th:href="@{/style.css}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
  </script>
  <script type="text/javascript">
    $(document).ready(function() {
      $("#locales").change(function () {
        var selectedOption = $('#locales').val();
        if (selectedOption != ''){
          window.location.replace('/?lang=' + selectedOption);
        }
      });
    });
  </script>
</head>

<header th:fragment="header">
  <h1><a th:href="@{/}">Three Easy Steps</a></h1>
  <nav>
    <ul>
      <li><a th:href="@{/step1}">Step 1</a></li>
      <li><a th:href="@{/step2}">Step 2</a></li>
      <li><a th:href="@{/step3}">Step 3</a></li>
    </ul>
  </nav>
</header>

</body>
</html>